* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

body {
    color: #222;
    font: normal 100% sans-serif;
    font-size: 100%;
    line-height: normal;
    font-family: sans-serif;
    text-align: center;
}

header {
    width: 100%;
    min-height: 40px;

    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #333333;
    border-bottom: 5px #0088cc solid;
    }

.header ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: right;
}
.header li {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 14px;
    padding: 14px 15px 0;
}
.header a {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
.header a:hover,
.header a:focus,
/* .header a:visited, */
.header a:visited:hover {
    text-decoration: underline;
    color: white;
}
.header a:hover,
/* .header a:visited, */
.header a:visited:hover {
    color: white;
}
.header a:active {
    color: white;
    }

.header_div {
    padding-right: 30px;
    padding-bottom: 7px;
}
