.content {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

.box {
	margin-bottom: 1.5em;
	padding: 0.65em;
	background: #ecf2f5;
	border: 1px solid #bcd;
}

span {
	font-size: 0.8em;
}

.prev {
	padding-right: 1em;
}

p {
	margin: 0.33em 0 1em;
	font-size: 0.85em;
	display: inline-block;
}

.pkglist_nav {
	float: right;
	text-align: right;
}

table {
	font-size: 0.846em;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	width: 100%;
	border-collapse: collapse;
}

table th {
	vertical-align: middle;
	font-weight: bold;
	font-size: 0.846em;
	padding: 0.5em 1em 0.25em 0.25em;
	border-bottom: 1px solid #999;
	text-align: left;
	white-space: nowrap;
	background-color: #fff;
}

table td {
	padding: 0.3em 1em 0.3em 3px;
	vertical-align: top;
	white-space: nowrap;
	text-align: left;
	line-height: 1.4;
	font-size: 0.846em;
}

table tr:nth-child(odd) {
	background-color: white;
}

tbody tr:nth-child(even) {
	background-color: #e4eeff;
}

table tr:hover {
	background-color: #ffd;
}

a {
	text-decoration: none;
}

.wrap {
	white-space: normal;
}

/* a:hover {
	text-decoration: double;
} */
